@import '../../styles/variables.scss';

.SplashPage {
    color: $color-3;
}

.SplashContent {
    position: absolute;
    padding: $page-padding;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-align: left;
}

.Title {
    font-size: 100px;
    padding: 10px 0px;
    letter-spacing: 25px;
    text-shadow: 6px 6px $color-4;
}

.Content {
    font-size: 20px;
    letter-spacing: 20px;
    text-shadow: 4px 4px $color-4;
    padding: 10px 0px;
}

.SplashImageContainer {
    width: 100%;
    height: 100vh;
}

.SplashImage {
    width: 100%;
    height: 100%;
}