@import '../../../styles/variables.scss';

.ProjectPanelContent {
    letter-spacing: 1px;
}

.Light {
    color: $color-3;
}

.Dark { 
    color: $color-4;
}

.title {
    font-size: 20px;
    text-align: center;
    font-weight: 800;
}

.subtitle {
    font-size: 12px;
    color: $color-1;
    margin: 10px 0px;
    text-align: center;
}

.description {
    font-size: 16px;
}

.features {
    border-top: 1px solid $color-2;
    margin: 10px 0px;
    font-size: 14px;
}